.translate_button {
	background-repeat: no-repeat !important;
	background-size: cover !important;
    height: 15px !important;
    width: 15px !important;
    min-height: 15px !important;
    min-width: 15px !important;
	border: none !important;
    background-color: transparent !important;
	float: initial !important;
}
.translate_expert_correct {
	color: green;
	font-weight: 700;
}
.translate_expert_incorrect {
	color: red;
	font-weight: 700;
}
#translateExpertModal .modal-dialog {
	width: max-content;
	max-width: 80%;
	min-width: 60%;
}

#translateExpertModal .modal-body {
    overflow: hidden;
	overflow-y: hidden;
    overflow-y: scroll;
    max-height: 600px;
}

.localization-analize-file textarea {
    width: 100%;
	height: 400px;
}

.localization-analize-file pre b {
    color: red;
}

.localization-analize-file-header b {
    color: red;
}

.localization-analize-file-header .info {
    cursor: pointer;
	width: fit-content;
}

.localization-analize-file-toolbar.to .translate_localization_button {
    margin-left: 10px;
}

.localization-analize-file-toolbar.to .save_translation_button {
    margin-left: 10px;
}