/*dc_pro_font_2*/
@font-face {
	font-family: 'Open Sans';
	src: url('../OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../OpenSans-Regular.woff') format('woff'),
		url('../OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../OpenSans-SemiBold.woff') format('woff'),
		url('../OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('../OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../OpenSans-Bold.woff') format('woff'),
		url('../OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
* {
	font-family: "Open Sans", Arial, sans-serif;
}