/*dc_pro_font_3*/
@font-face {
	font-family: 'Montserrat';
	src: url('../Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../Montserrat-Regular.woff') format('woff'),
		url('../Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../Montserrat-SemiBold.woff') format('woff'),
		url('../Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../Montserrat-Bold.woff') format('woff'),
		url('../Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
* {
	font-family: "Montserrat", Arial, sans-serif;
}