<div id="search">
  <div class="search">
    <input id="search_input" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
    <button type="button"></button>
  </div>
</div>