#column-left-grid, 
#column-right-grid, 
#column-left, 
#column-right {
  z-index: 6;
}

.ocf-popover{position:absolute; max-width: 240px; opacity: 0; top:0;  left:0; z-index:1075;  display:none;  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;  font-style:normal;  font-weight:normal;  letter-spacing:normal;  line-break:auto;  line-height:1.42857143;  text-align:left;  text-align:start;  text-decoration:none;  text-shadow:none;  text-transform:none;  white-space:normal;  word-break:normal;  word-spacing:normal;  word-wrap:normal;  font-size:14px;  background-color:#fff;  -webkit-background-clip:padding-box;          background-clip:padding-box;  border-radius:6px;  box-shadow: 0 6px 30px rgb(0 0 0 / 25%); -webkit-transition: transform 300ms ease-in-out, opacity 200ms linear; -moz-transition: transform 300ms ease-in-out, opacity 200ms linear; -ms-transition: transform 300ms ease-in-out, opacity 200ms linear; -o-transition: transform 300ms ease-in-out, opacity 200ms linear; transition: transform 300ms ease-in-out, opacity 200ms linear; will-change: transform, opacity;}

.ocf-popover.ocf-in{opacity: 1;}
.ocf-popover.ocf-in.ocf-top {transform: translateY(-3px);}
.ocf-popover.ocf-in.ocf-right {transform: translateX(3px);}
.ocf-popover.ocf-in.ocf-bottom {transform: translateY(3px);}
.ocf-popover.ocf-in.ocf-left {transform: translateX(-3px);}

.ocf-popover.ocf-top{margin-top:-15px;}
.ocf-popover.ocf-right{margin-left:15px;}
.ocf-popover.ocf-bottom{margin-top:15px;}
.ocf-popover.ocf-left{margin-left:-15px;}

.ocf-popover-title{margin:0;  padding:8px 14px;  font-size:14px;  background-color:#f7f7f7;  border-bottom:1px solid #ebebeb;  border-radius:5px 5px 0 0;}
.ocf-popover-content{color: #333;padding: 12px;}
.ocf-popover > .ocf-arrow{position:absolute;  display:block; background-color: #fff; transform: rotate(45deg); border-radius: 3px; width: 16px; height: 16px; z-index: -1;}

.ocf-popover.ocf-top    > .ocf-arrow{left: 50%; margin-left: -8px; bottom: -5px;}
.ocf-popover.ocf-bottom > .ocf-arrow{left: 50%; margin-left: -8px; top: -5px;}
.ocf-popover.ocf-right  > .ocf-arrow{top: 50%; margin-top: -8px; left: -5px; }
.ocf-popover.ocf-left   > .ocf-arrow{top: 50%; margin-top: -8px; right: -5px; }

.ocf-scroll-y {
  max-height: 240px;
  
  margin-right: -12px!important;
  padding-right: 10px!important;  
  
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
  
  /* https://codepen.io/evank/pen/wWbRNO */
  background-image: linear-gradient(white 30%, transparent), linear-gradient(transparent, white 70%), radial-gradient(farthest-side at 50% 0, rgb(0 0 0 / 10%), transparent), radial-gradient(farthest-side at 50% 100%, rgb(0 0 0 / 10%), transparent);
  
  background-position-x: 0;
  background-position-y: 0, 100%, 0, 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100% 65px, 100% 65px, 100% 12px, 100% 12px;
  
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;    
}

.ocf-scroll-y:hover {   
  padding-right: 2px!important;    
}

      .ocf-scroll-y::-webkit-scrollbar        { width: 2px; margin-right: -5px; }
.ocf-scroll-y:hover::-webkit-scrollbar        { width: 10px; }  
  
      .ocf-scroll-y::-webkit-scrollbar-track  { background-color: transparent; border-radius: 10px; }
.ocf-scroll-y:hover::-webkit-scrollbar-track  { /*background-color: rgb(0 0 0 / 5%);*/ background-color: transparent; }
       
      .ocf-scroll-y::-webkit-scrollbar-thumb  { /*background-color: rgb(0 0 0 / 7%);*/ background-color: #3F67D8; border-radius: 10px; }   
.ocf-scroll-y:hover::-webkit-scrollbar-thumb  { /*background-color: rgb(0 0 0 / 35%);*/ }

.ocf-scroll-y::-webkit-scrollbar-corner       { display: none; }
.ocf-scroll-y::-webkit-resizer                { display: none; }    

/* MODULE */
/*.ocf-content{ margin-bottom: 25px; }*/

/* HEADER */
.ocf-header{ margin-bottom: 15px; }
  .ocf-header .ocf-header-btn{ margin-left: auto; } 
    
/* SELECTEDS */
  .ocf-selected-card {
  /*  padding: 15px;*/
    margin-bottom: 20px;
  }
  .ocf-selected-card .ocf-between {
    flex-direction: row;
  }
  .ocf-selected-card .ocf-between button {
    padding: 0px;
    font-size: 13px;
  }
  .ocf-selected-card .ocf-between button:last-child {
    margin-left: 10px;
  }
  .ocf-selected-header{ font-size: 16px; margin-bottom: 10px;}
  .ocf-selected-filter {  
    font-size: 13px;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
    .ocf-selected-filter-name { font-size: inherit; width: 100%; margin-bottom: 8px}
    .ocf-selected-discard {        
      padding: 0px 2px 0 6px;
      background-color: transparent;
      border: 1px solid #eee;
      max-width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin-right: 5px;
      font-size: 13px;
    }   
    .ocf-form-control[type=number] {
      max-width: calc(100% - 24px);
    } 
      .ocf-selected-value-name{ font-size: inherit; overflow: hidden; margin-right: 5px; text-overflow: ellipsis; }
      .ocf-selected-discard .ocf-icon{ border-radius: 14px; width: 14px; height: 14px; flex: 0 0 14px; margin-left: auto; }    
    
/* BODY */
.ocf-body{}
    
/* FILTER LIST */
.ocf-filter-list{}
.ocf-horizontal .ocf-filter-list { display: flex; flex-wrap: wrap; align-items: stretch; justify-content: space-between; margin-right: -5px; margin-left: -5px;}
.ocf-horizontal .ocf-collapse-filter .ocf-filter-list { margin-left: 0; margin-right: 0; }

  .ocf-btn-show-filters{ }
  .ocf-horizontal .ocf-btn-show-filters{ margin-bottom: 10px; margin-top: 0; margin-right: 5px; margin-left: 5px; }  

/* FILTER ITEM */
.ocf-filter { margin-bottom: 15px; } 
.ocf-horizontal .ocf-filter { padding-left: 5px; padding-right: 5px; min-width: 200px; flex: auto; }   

  .ocf-filter-body { position: relative; }
  
    /* Filter item header */
    .ocf-filter-header,
    .ocf-module-page-header { 
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .ocf-dropdown .ocf-filter-header { 
      cursor: pointer; 
      margin-bottom: 0;
      position: relative; 
      z-index: 1; 
    }
    .ocf-dropdown.ocf-open .ocf-filter-header {
      z-index: 21;   
    }  
    
      /* Filter label text */
      .ocf-active-label{ margin-right: 5px; }
      .ocf-slider .ocf-active-label { white-space: nowrap; }

      .ocf-dropdown .ocf-active-label,
      .ocf-slider .ocf-active-label,
      .ocf-horizontal .ocf-slider.ocf-has-input .ocf-active-label,
      .ocf-slider.ocf-open .ocf-active-label { display: block; }

      .ocf-active-label,
      .ocf-open .ocf-active-label,
      .ocf-slider.ocf-has-input .ocf-active-label,
      .ocf-slider.ocf-has-input.ocf-open .ocf-active-label{ display: none; }
      
      /* Filter name text */
      .ocf-filter-name{ margin-right: 5px; order: -1; }

      .ocf-horizontal .ocf-filter-name, 
      .ocf-slider .ocf-filter-name,
      .ocf-horizontal .ocf-active-label { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }  
      .ocf-dropdown .ocf-active-label + .ocf-filter-name{ display: none; }
      .ocf-dropdown.ocf-slider .ocf-active-label + .ocf-filter-name{ display: block; }
      
      .ocf-active-label:empty + .ocf-filter-name,
      .ocf-open .ocf-active-label + .ocf-filter-name{ display: block; }      
      
      .ocf-open .ocf-active-label + .ocf-filter-name:hover {
        white-space: nowrap;
        text-overflow: initial;
        overflow: visible;
        background-color: #fff;
      }
      
      /* Filter slider label */
      .ocf-has-input .ocf-slider-value{ display: none; }
      .ocf-horizontal .ocf-has-input .ocf-slider-value{ display: block; }
        
      /* Filter header additional icon/btns */           
        .ocf-filter-description ~ *{ margin-left: 5px; }
          .ocf-filter-description .ocf-icon{ display: block; filter: invert(37%) sepia(24%) saturate(2825%) hue-rotate(199deg) brightness(96%) contrast(94%); }
        .ocf-active .ocf-filter-header .ocf-angle-down { display: none; } 
                
        .ocf-dropdown.ocf-active .ocf-filter-discard,
        .ocf-horizontal .ocf-active .ocf-filter-discard,
        .ocf-slider.ocf-active .ocf-filter-discard{ display: block; }

/* FILTER VALUE LIST */
.ocf-value-list{}
.ocf-dropdown .ocf-filter-body > .ocf-value-list { 
  background-color: #fff;
  padding: 55px 15px 15px;
  margin: -10px 0px 0;
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  z-index: 20;
  display: none;
  min-width: -webkit-fill-available;
}
.ocf-horizontal .ocf-dropdown .ocf-filter-body > .ocf-value-list { min-width: 260px; }

.ocf-dropdown.ocf-open .ocf-filter-body > .ocf-value-list { display: block; }

  .ocf-auto-column { display: grid; gap: 6px 15px; justify-items: stretch; }
  .ocf-column-1 { grid-template-columns: repeat(1, 1fr); }
  .ocf-column-2 { grid-template-columns: repeat(2, 1fr); }
  .ocf-column-3 { grid-template-columns: repeat(3, 1fr); }
  .ocf-column-4 { grid-template-columns: repeat(4, 1fr); }
  .ocf-column-5 { grid-template-columns: repeat(5, 1fr); }
  .ocf-column-6 { grid-template-columns: repeat(6, 1fr); }  
   
/* SLIDER */
.ocf-slider-input-group { margin-bottom: 10px; }
.ocf-value-slider { padding: 10px 10px 0; }
.ocf-btn-show-values{ margin-top: 10px; padding: 0; }

/* FILTER VALUE ITEM */
.ocf-auto-column .ocf-value{ margin-bottom: 0; width: auto!important; }
  .ocf-value-image ~ .ocf-value-append,
  .ocf-value-color ~ .ocf-value-append{ margin-top: 2px; } 
  
/* FOOTER */
.ocf-footer {
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  z-index: 3;
/*  padding-bottom: 10px*/
}

/* POPOVER */
.ocf-search-btn-popover { min-width: 190px; }

/* SEO PAGES */
.ocf-module-page { 
  background-color: #fff!important; 
  box-shadow: 0 3px 15px rgb(0 0 0 / 12%);
  margin-bottom: 15px; 
}
.ocf-module-page-header { margin-bottom: 15px; }
.ocf-module-page-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 200px;    
}

.ocf-module-page-list li + li { margin-top: 3px; }
  .ocf-module-page-list a{ display: block; line-height: 1.5; color: #4A5057; font-size: 13px; }  
  .ocf-module-page-list a:hover{ color: #353A40; text-decoration: underline; }      
  .ocf-module-page-list a.ocf-page-selected{ font-weight: bold; color: #000; }

/* LIGHT THEME */
.ocf-theme-light .ocf-module-page { padding: 12px; border-radius: 4px; box-shadow: none; border: 4px solid #fff8e1; }
.ocf-theme-light .ocf-module-page-header { }
.ocf-theme-light .ocf-module-page-list{ margin: 0; }
.ocf-theme-light .ocf-module-page-list a{ color: #2e3135;}

.ocf-theme-light .ocf-selected-card { background-color: #fff; box-shadow: 0 0 16px rgb(0 0 0 / 15%); border-radius: 5px; }
.ocf-theme-light .ocf-selected-header { font-weight: bold; }
.ocf-theme-light .ocf-selected-filter { background-color: #F5F7F9; border-radius: 15px;}
.ocf-theme-light .ocf-selected-filter-name { color: #8596a4; }
.ocf-theme-light .ocf-selected-discard { border: 1px solid transparent; border-radius: 20px; background-color: transparent; }
.ocf-theme-light .ocf-selected-discard:hover { border-color: #d9534f; }
.ocf-theme-light .ocf-selected-value-name { color: #222;}
.ocf-theme-light .ocf-filter { margin-bottom: 25px; }
.ocf-theme-light.ocf-horizontal .ocf-filter { margin-bottom: 10px; }
.ocf-theme-light .ocf-filter-header,
.ocf-theme-light .ocf-module-page-header { 
  color: #212529;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 15px;
}
.ocf-theme-light .ocf-filter-header .ocf-active-label { font-weight: normal; }
.ocf-theme-light.ocf-horizontal .ocf-filter-header { font-weight: normal; margin-bottom: 0; }
.ocf-theme-light .ocf-dropdown .ocf-filter-header {     
  border: none;  
  font-weight: bold;
  padding: 8px 12px;
  background-color: #eceef2;
  border-radius: 3px;
}
.ocf-theme-light .ocf-dropdown .ocf-filter-header:hover { background-color: #F4F5F8; }
.ocf-theme-light.ocf-horizontal .ocf-dropdown .ocf-filter-header { font-weight: normal; }
.ocf-theme-light .ocf-active.ocf-dropdown .ocf-filter-header{ background-color: #ffeedf; }
.ocf-theme-light .ocf-filter-header .ocf-filter-discard:hover{ filter: invert(38%) sepia(18%) saturate(5963%) hue-rotate(328deg) brightness(81%) contrast(105%); }
.ocf-theme-light .ocf-more-selected {
  background-color: rgba(0 0 0 / 12%);
  padding: 1px 5px;
  border-radius: 2px;
  color: #444;
  font-weight: bold;
}
.ocf-theme-light .ocf-dropdown.ocf-open .ocf-filter-header { background-color: #fff;height:19.5px;overflow:hidden;white-space: nowrap; } 
.ocf-theme-light .ocf-dropdown.ocf-open .ocf-filter-header .ocf-filter-name { width: -webkit-fill-available;overflow: hidden; } 

.ocf-theme-light .ocf-dropdown .ocf-filter-body > .ocf-value-list {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0 0 0 / 15%);
  border-radius: 5px;          
}

.ocf-theme-light .ocf-footer:after{ content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; box-shadow: 10px -10px 10px 0px #ffffff; z-index: -1;}

/* LIGHT BLOCK THEME */
/*.ocf-theme-light-block .ocf-selected-card { box-shadow: 0 0 16px rgb(0 0 0 / 15%); border-radius: 5px; }*/
.ocf-theme-light-block .ocf-selected-header{ font-size: 16px; font-weight: bold; }
/*.ocf-theme-light-block .ocf-selected-filter{ background-color: #F5F7F9; border-radius: 15px; }*/
.ocf-theme-light-block .ocf-selected-filter-name{ color: #8596a4; font-size: 13px; }
.ocf-theme-light-block .ocf-selected-discard{ border: 1px solid transparent; border-radius: 20px; background-color: transparent;padding: 0px}
.ocf-theme-light-block .ocf-selected-discard:hover{ border-color: #d9534f; }
.ocf-theme-light-block .ocf-selected-value-name{ font-size: 13px; color: #222; }

.ocf-theme-light-block.ocf-vertical .ocf-filter,
.ocf-theme-light-block.ocf-vertical .ocf-module-page { margin-bottom: 15px; padding: 15px 20px; border-radius: 5px;}  
.ocf-theme-light-block.ocf-vertical .ocf-filter { background-color: #f0f2f5; }

.ocf-theme-light-block.ocf-horizontal .ocf-filter { margin-bottom: 10px; }
.ocf-theme-light-block.ocf-vertical .ocf-active { background-color: #ffeedf; }

.ocf-theme-light-block.ocf-horizontal .ocf-filter-header {
  background-color: #f0f2f5;
  padding: 10px 15px;
  border-radius: 5px;
}

.ocf-theme-light-block.ocf-horizontal .ocf-dropdown.ocf-open .ocf-filter-header { background-color: #fff; } 

.ocf-theme-light-block .ocf-filter-header .ocf-filter-name,
.ocf-theme-light-block .ocf-filter-header .ocf-active-label,
.ocf-theme-light-block .ocf-module-page-header { color: #444; }
.ocf-theme-light-block .ocf-filter-header .ocf-active-label { font-weight: normal; }
.ocf-theme-light-block.ocf-horizontal .ocf-filter-header .ocf-filter-name,
.ocf-theme-light-block.ocf-horizontal .ocf-filter-header .ocf-active-label{ font-weight: normal; }

.ocf-theme-light-block.ocf-horizontal .ocf-active.ocf-dropdown .ocf-filter-header{ background-color: #FDEEDE; }
.ocf-theme-light-block .ocf-filter-header .ocf-filter-discard:hover{ filter: invert(1) saturate(20); /* orange */ }
.ocf-theme-light-block .ocf-more-selected {
  background-color: rgba(0 0 0 / 12%);
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 12px;
  color: #444;
  font-weight: bold;
}
.ocf-theme-light-block .ocf-dropdown .ocf-open .ocf-filter-header,
.ocf-theme-light-block.ocf-horizontal .ocf-open.ocf-active.ocf-dropdown .ocf-filter-header {
  background-color: #fff;   
}    
.ocf-theme-light-block .ocf-dropdown .ocf-filter-body > .ocf-value-list {
  background-color: #fff;
  box-shadow: 0 5px 17px rgb(0 0 0 / 15%);
  border-radius: 5px;   
  padding: 55px 20px 15px;
  margin: -15px -17px 0;
}
.ocf-theme-light-block.ocf-horizontal .ocf-dropdown .ocf-filter-body > .ocf-value-list {
  padding: 60px 17px 15px;
  margin: -8px 0px 0;
}

.ocf-theme-light-block .ocf-scroll-y {
  background-color: transparent;   
  background-image: linear-gradient(#F0F2F5 30%, transparent), linear-gradient(transparent, #F0F2F5 70%), radial-gradient(farthest-side at 50% 0, rgb(0 0 0 / 10%), transparent), radial-gradient(farthest-side at 50% 100%, rgb(0 0 0 / 10%), transparent);
}

.ocf-theme-light-block .ocf-active .ocf-scroll-y {
  background-image: linear-gradient(#FDEEDE 30%, transparent), linear-gradient(transparent, #FDEEDE 70%), radial-gradient(farthest-side at 50% 0, rgb(0 0 0 / 10%), transparent), radial-gradient(farthest-side at 50% 100%, rgb(0 0 0 / 10%), transparent);
}

.ocf-theme-light-block .ocf-dropdown .ocf-scroll-y,
.ocf-theme-light-block .ocf-module-page-list.ocf-scroll-y {
  background-image: linear-gradient(white 30%, transparent), linear-gradient(transparent, white 70%), radial-gradient(farthest-side at 50% 0, rgb(0 0 0 / 10%), transparent), radial-gradient(farthest-side at 50% 100%, rgb(0 0 0 / 10%), transparent);
}

.ocf-theme-light-block .ocf-selected .ocf-value-input::before {
  background-color: #fff;
}

.ocf-theme-light-block .ocf-value .ocf-value-input::after {
  filter: invert(46%) sepia(39%) saturate(589%) hue-rotate(151deg) brightness(100%) contrast(88%);
  background-size: 10px;
}

.ocf-theme-light-block .ocf-value-count {  
  font-size: 11px;
  background-color: rgb(79 83 88 / 10%);
  border-radius: 50px;
  font-weight: 400;
  color: #46494e;
}