.checkbox_exp {position: absolute;z-index: -1;opacity: 0;margin: 10px 0 0 20px;}
.checkbox_exp + label {position: relative;padding: 0 0 0 60px;cursor: pointer;}
.checkbox_exp + label:before {content: '';position: absolute;top: -4px;left: 0;width: 50px;height: 26px;border-radius: 13px;background: #CDD1DA;box-shadow: inset 0 2px 3px rgba(0,0,0,.2);transition: .2s;}
.checkbox_exp + label:after {content: '';position: absolute;top: -2px;left: 2px;width: 22px;height: 22px;border-radius: 10px;background: #FFF;box-shadow: 0 2px 5px rgba(0,0,0,.3);transition: .2s;}
.checkbox_exp:checked + label:before {background:#9FD468;}
.checkbox_exp:checked + label:after {left: 26px;}
.checkbox_exp:focus + label:before {box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);}
.checkbox_exp_mini {position: absolute;z-index: -1;opacity: 0;margin: 10px 0 0 0px;}
.checkbox_exp_mini + label {position: relative;padding:0;cursor: pointer;margin-bottom:0;margin-left:6px;font-weight:400;}
.checkbox_exp_mini + label:before {content: '';position: absolute;top:3px;left: -24px;width: 24px;height:14px;border-radius:7px;background: #CDD1DA;box-shadow: inset 0 2px 3px rgba(0,0,0,.2);transition: .2s;}
.checkbox_exp_mini + label:after {content: '';position: absolute;top:5px;left: -22px;width:10px;height:10px;border-radius:5px;background: #FFF;box-shadow: 0 2px 5px rgba(0,0,0,.3);transition: .2s;}
.checkbox_exp_mini:checked + label:before {background:#9FD468;}
.checkbox_exp_mini:checked + label:after {left: -12px;}
.checkbox_exp_mini:focus + label:before {box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);}
.col-sm-212{display:inline-block;float:none;margin-right:6px;margin-bottom:20px;}
.bottom_info{position:fixed;bottom:0;right:0px;max-width:500px;z-index:20;}
.bottom_info .info_block{padding:15px;border:2px solid #bce8f1;background:#EFF8FC;display:none;}
.bottom_info .info_block h3{font-size:18px;}
.bottom_info .info_oc{border:1px solid #bce8f1;border-bottom:0;border-radius:3px 3px 0 0:font-size:12px;background:#bce8f1;color:#31708f;position:absolute;top:-30px;height:30px;right:0px;line-height:30px;text-align:center;cursor:pointer;width:230px;}
.bottom_info .info_oc:hover{background:#31708f;color:#fff;}
.sb_item{position:relative;}
.itemi{top: -1px;left:-1px;position: absolute;height: 20px;display: block;text-align: center;color: #999;width: 20px;line-height:20px;background:#ededed;}
.form-group1{margin-left:-15px;margin-right:-15px;padding-top: 15px;padding-bottom:15px;}
.pull-right.fixed{position:fixed;top:5px;padding:15px;background:#ecf3e6;right:5px;z-index:999;box-shadow: 0 0 10px #ccc}
.scrollbox input{vertical-align:top;margin-top:2px;}
.scrollbox>div{padding:8px 10px;border-bottom:1px solid #ddd;color: rgb(102, 102, 102)}
.scrollbox>div.even{background:#f9f9f9;}
.well.well-sm >div{padding:8px 10px;color: rgb(102, 102, 102)}
.well.well-sm >div+div{border-top:1px solid #ddd;}
.panel-heading .success{float:right;font-weight:bold;color:green;margin-right:15px;}
#select_country>span{cursor:pointer;padding:0px 3px;margin-left:10px;display:inline-block;vertical-align:top;background:#eee;}
#select_country>span:hover{background:#1e91cf;color:#fff;}
.active_feeds_container{color:#999;font-size:14px;cursor:pointer;}
.imp-success{background: #ecf3e6;padding: 0px 20px;text-align: center;border: 1px solid #eee;border-radius: 3px;color: green;border-radius: 3px;display: inline-block;vertical-align: top;height: 35px;font-size: 11px;}
label div small{font-weight:400;}
.market_link{border-bottom:1px dashed;}
.import_price_info{overflow-x:scroll;border:1px solid #ccc;}
#xml_res .import_price_info{margin-top:-7px!important;}
.import_setting_block{height:400px;overflow-y: scroll;border:1px solid #ccc;}
.import_setting_block .form-group{padding:5px 0;}
.xmlex{overflow:scroll;height:400px;width:800px;border:0;margin:0!important;}
.xmlex span[data-toggle="tooltip"]{background:#fff;border-radius:3px;padding:0 3px;border:1px solid #ccc;cursor:pointer;}
.xmlex span[data-toggle="tooltip"]:hover{background:#aaa;}
.hovered{background:#aaa;}
.h4_div{cursor:pointer;}
#price_setting_load{max-height:595px;overflow-y:scroll;}
.import_read_xml{margin-left:10px;border-bottom:1px dashed #999;display:inline-block;cursor:pointer;font-size: 13px;font-weight:700;line-height: 22px;margin-top:9px;}
.import_read_xml:hover{border-color:#fff;}
.h4_div_frst.minus{margin-bottom:0px;}
#price_settingTitle{font-size:16px;}
#setting_price_item .form-control1:focus, #setting_price_item .form-control1:active{outline:0;border-bottom:1px solid #000;}
#setting_price_item .form-control1:hover{border-bottom:1px solid #999;}
#setting_price_item .form-control1{border:0;border-bottom:1px solid #eee;padding:10px 0;width:100%;height:39px;}
#setting_price_item .form-control1[name="price_name"]{font-size:20px;}
#setting_price_item .col-sm-6{position:relative;}
#setting_price_item .price_file_block .form-control1{padding-left:54px;}
#setting_price_item .price_file_block:before{font-size:20px;display:block;content:'XML';position: absolute;left:10px;top:6px;}
#setting_price_item .price_file_block:hover:after{font-size:16px;display:block;content:'✎';position: absolute;left:-6px;top:8px;color:#777;}
.price_edit_block{position: relative;}
.price_edit_block .form-control1{padding-left:10px!important;}
.price_edit_block:hover:before{font-size:16px;display:block;content:'✎';position: absolute;left:-6px;top:8px;color:#777;}
.import_setting_block .form-group{position:relative;}
.import_setting_block .form-group .load_item_set{display:block;position:absolute;left:5px;top:14px;z-index:5;}
.import_setting_block .form-group .load_item_set i{color:#ccc;}
.import_setting_block .form-group:hover .load_item_set i{cursor:pointer;color:#5bc0de;}
.import_setting_block .form-group .load_item_set:hover i{cursor:pointer;color:#1978ab;}
.input-group-addon{cursor:pointer;}
.input-group-addon:hover{color:#000;}
.popover.fade.right.in{min-width:240px;}
#setting_item .checkbox_exp + label{color:#7aae50;font-weight:300;}
#setting_item .checkbox_exp:checked + label{text-indent:-999em;}
#setting_item .checkbox_exp:checked + label:before{background:#ffc107;}
#setting_item .checkbox_exp:checked + label.green:before{background:#7aae50;}
#setting_item .checkbox_exp.cb_green + label{text-indent:-999em;}
#setting_item .checkbox_exp.cb_green:checked + label{text-indent:0;color:#7aae50;}
#setting_item .pt4{padding-top:6px;}
label.bnv+.input-group-addon{border:1px solid #ccc;border-radius:2px;}
#setting_item .form-horizontal+.form-horizontal{border-top:1px solid #eee;}
.checkbox_exp{margin-top:8px!important;}
#price_setting_item_set_load{padding-bottom:0;}
.fw600{font-weight:600;}
.import_setting_block .form-group .col-sm-5.text-right{padding-right:0;}
.control-label.text-right{position: relative;}
.control-label.text-right small{position:absolute;top:22px;right:0px;color:#aaa;font-size:11px;font-weight:400;}
#uxmLong+#uxmShort{z-index:1052!important;}
.w200{width:100%;text-align: center;}
.nav-main-unixml{margin-bottom:0;margin-left: 15px;}
.nav-main-unixml > li.active > a, .nav-main-unixml > li.active > a:hover{font-weight:600;border:2px solid #bfbfbf;border-bottom:0;background:#fcfcfc;}
.nav-main-unixml > li > a{border-top:2px solid #fff;border:0;text-align:center;}
.nav-main-unixml > li > a:hover{border-top:2px solid #fcfcfc;border:0;background:#fcfcfc;}
.text-or:before{content:'-или-';display:block;position: absolute;margin:8px 0 0 -29px;}
#price_start_load{overflow:hidden;position:relative;min-height:182px;}
#price_start .modal-dialog{width:680px;}
#proc_anim{position: absolute;right:-120px;top:-70px;z-index:1;}
.proc_info{position:absolute;top:0px;text-align:center;font-size:24px;right:20px;z-index:2;width:105px;}
#progress_info{position:relative;z-index:3;}
.b1+.b1 i{color: #5c843d;position: absolute;left: 50%;font-size: 60px;margin: -14px 0 0 -26px;}
.progress_step_8{color: #5c843d;font-weight:bold;}
.progress_step_9{color: red;font-weight:bold;}
.table-statuses td *{width:auto!important;margin:0!important;position:static!important;left:auto!important;top:auto!important;font-size:12px!important;line-height:14px!important;text-align:left!important;display:inline-block!important;}
.table-statuses td hr, .table-statuses td title{display:none!important;}
#server-import-response-log h3{display:inline-block!important;}
#server-import-response-log h3+span{position: absolute;right: 15px;top: 3px;}
.modal-backdrop.fade.in+.modal-backdrop{z-index:1050!important;}
@media(min-width: 992px){.modal-lg{width:900px;}}
@media(min-width: 1092px){.modal-lg{width:1000px;}}
@media(min-width: 1192px){.modal-lg{width:1080px;}}
@media(min-width: 1292px){.modal-lg{width:1180px;}}
@media(min-width: 1392px){.modal-lg{width:1280px;}}
.sub_label{font-size:11px;font-weight:300;display:block;}
.original td{background:#d4edda;font-weight:bold;}
.double td{background:#fff3cd;color:#777;}
#count_double{font-weight:bold;line-height:36px;}
#search_double{width:100%;}
#count_double{margin-left:10px;display:inline-block;}
#delete_double{display:none;float:right;}
.save_url_item:hover{background:#1e91cf;border-color:#197bb0;color:#fff;}
.json-alert{position:absolute;background:#d1ecf1;border:1px solid #bee5eb;border-radius:2px;padding:8px 15px;color:#0c5460;z-index: 10;left: -500px;width: 493px;text-align: center;}
.json-alert:before{content:'';display:block;position:absolute;width:12px;height:12px;border:1px solid #bee5eb;background: #d1ecf1;right:-6px;top:11px;transform: rotate(45deg);}
.json-alert:after{content:'';display:block;position:absolute;width:10px;height:18px;background: #d1ecf1;right:0px;top:8px;}
#no_image_tmp_info, #delete_image_tmp_info{margin-left:10px;}
#start_noimage{margin-bottom:10px;}
.table-no-image td div{margin-left:10px;font-size:11px;margin-top:5px;}
#delete_list>div{margin-bottom:5px;}
.top-row{border-bottom:2px solid #39b3d7;background:#F7FDFF;padding-top:10px;border-radius:5px 5px 0 0;}
.export_list_status{display:inline-block;width:20px;height:20px;border-radius:50%;background:#ccc;}
.export_list_status.status1{background:#8fbb6c;}
.export-navigation{list-style-type:none;padding:15px 0 0;}
.export-navigation li{display:block;padding:10px 20px;cursor:pointer;position:relative;}
.export-navigation li+li{border-top:1px solid #F7FDFF;}
.export-navigation li:hover{background:#F7FDFF;}
.export-navigation li.active{background:#5bc0de;color:#fff;}
.export-navigation li.active:before{content:'';background:#5bc0de;display:block;width:10px;height:10px;transform:rotate(45deg);position:absolute;top:15px;left:-5px;}
.setting_item_top{position: absolute;top: -14px;left: 0px;display: inline-block;background: #39b3d7;padding: 5px 15px;z-index: 1;color: #fff;font-size: 14px;}
.setting_item_top:before{content:'';background:#39b3d7;display:block;width:10px;height:10px;transform:rotate(45deg);position:absolute;top:8px;right:-5px;}
.export-navigation.hold li{background:none!important;color:#666!important;}
.export-navigation.hold li:before{display:none!important;}
.export-block-item h3{padding:25px 0 15px;border-bottom:2px solid #ededed;margin-bottom:0;}
.export-block-item .form-group:hover .field_counter{background:#5bc0de;color:#fff;}
.export-navigation-fast{padding-right:15px;}
.export-navigation-fast input{outline:none!important;border:2px solid #5bc0de!important;margin-top:15px;}
.export-navigation-fast input:focus{box-shadow:unset!important;}
.export-navigation-fast .export-navigation-list{overflow-y:scroll;margin-left:-80px;right:15px;margin-top:-2px;list-style-type:none;border:2px solid #5bc0de!important;padding:10px 10px 0 10px;display:none;background:#F7FDFF;}
.export-navigation-fast .export-navigation-list>li>span{font-weight:600;font-size:16px;}
.export-navigation-fast .export-navigation-list li span:hover{color:#5bc0de;cursor:pointer;}
.export-navigation-fast .export-navigation-list>li>ul{list-style-type:none;padding:0 0 10px 5px;}
.export-navigation-fast .export-navigation-list>li>ul>li{font-weight:400;font-size:12px;margin-top:5px;}
.export-navigation-fast:hover .export-navigation-list{display:block;position:absolute;z-index:1;}
.active_export_field{background:#FFF7DF;}
.field_counter{position: absolute;left:0px;top:-1px;background:#ededed;padding: 2px 4px;display: block;color: #555;font-size: 12px;}
.form-group{position:relative;}
.hidden{display:none;}
.to-top{border-radius:2px;cursor:pointer;position: absolute;bottom: 13px;padding: 5px 15px;display: block;background:#5bc0de;color: #fff;right: 15px;text-align: center;display:none;}
.to-top:hover{background:#8fbb6c;}
span-off#form-unixml-export .checkbox_exp + label{margin-bottom:14px;}
#uxmLong{z-index:1051!important;}
.va-top{vertical-align:top!important;}.va-top + td .well{margin-bottom:0;}.importMarkup{width:100%;margin-top:10px;}
.category_child_item{border-left:1px solid #ddd;padding-left:10px;}
.category_child_block{padding: 2px 6px 2px 10px!important;border-bottom:0!important;display:none;}
.category_item_name_span{cursor:pointer;}
#unixml_categories .checkbox_exp_mini + label:before{top:-11px;}
#unixml_categories .checkbox_exp_mini + label:after{top:-9px;}
.category_item_name_span span{font-weight:bold;}
.option-list{overflow-y:scroll;border-radius:3px;box-shadow: 0 0 5px #ccc;position:absolute;top:-1px;right:14px;background:#fff;border:1px solid #ccc;z-index:2;width:calc(50% - 30px);max-height:400px;}
.option-list-item{padding:10px 15px;cursor:pointer;position:relative;}
.delete-option-item{position: absolute;top:13px;right:10px;font-size: 16px;opacity:0;z-index:1;}
.option-list-item:hover .delete-option-item{opacity:1;}
.option-list .option-list-item:hover .delete-option-item{opacity:0!important;}
.option-list-item+.option-list-item{border-top:1px solid #ccc;}
.option-list-item-values{font-size:11px;color:#888;}
.close-option-list{position:absolute;top:5px;right:5px;font-size:20px;font-weight:300;cursor:pointer;z-index:3;}
.close-option-list small{font-size:11px;display:none;vertical-align: top;line-height: 28px;}
.close-option-list:hover small{display: inline;}
.get-select-option.w50{width:50%;}
.option-list:before{box-shadow: 0 0 5px #ccc;content:'';width:10px;height:10px;position:absolute;left:-5px;top:12px;transform: rotate(45deg);background:#fff;border:1px solid #ccc;background:greed;}
.option-list:after{content: '';width: 11px;height: 22px;background: #fff;top: 6px;left: 0px;position: absolute;}
#get-option-html{display:none;}
.option-block-list{margin-top:10px;}
.option-block-item{padding-left:15px;border-left:2px solid #ccc;}
.scrollbox>div{padding: 8px 10px;}
.scrollbox>div:nth-child(2n+2){border-bottom: 1px solid #ddd;color: rgb(102, 102, 102);border-top: 1px solid #ddd;color: rgb(102, 102, 102);background:#f9f9f9;}
.option_select_scroll{max-height:200px;border:1px solid #ccc;overflow:auto;}
.option_select_scroll>div{border-bottom:1px solid #ccc;}
.mtb-10{margin-top:10px;margin-bottom:10px;};
.add-option-block{margin-top:10px;}
.scrollbox.option_select_scroll{margin-top:10px;}
.delete-option-block{border-bottom:1px dashed #333;cursor:pointer;}
.delete-option-block:hover{border-color:#fff;}
.mt10{margin-top:10px;}
.select_all, .unselect_all{cursor:pointer;}
#trash_list_toggle i{font-size:12px!important;}
#load_exports>tr>td{background:#fff;}
#load_exports>tr.ui-sortable-helper>td{background:#e8e8e8;}
#trash_h3{cursor:pointer;}
#load_exports>tr{cursor:move;}
#load_exports>tr:hover td{background:#efefef;}
.copied{background:#8fbb6c;color:#fff!important;}
.link-block + .link-block{border-top:1px solid #ededed;margin-top:15px;padding-top:15px;}
.link-block.row{margin-left:0;margin-right:0;}
.fileinfo{color:#7aae50;cursor:default;}
label.col-sm-2.control-label{position:relative;}
label.col-sm-2.control-label a{color:#555;}
label.col-sm-2.control-label a:hover{color:#5bc0de;}
label.col-sm-2.control-label .help{display:none;left:0px;width: 300px;margin-top: 15px;text-align: left;position:absolute;background:#fff;font-weight:300;border:2px solid #5bc0de;color:#000;padding:0 15px 15px 15px;z-index:10;}
label.col-sm-2.control-label a:hover .help{display:block;}
label.col-sm-2.control-label .help:before{transform: rotate(45deg);content:'';width:12px;height:12px;position:absolute;left:5px;top:-6px;background:#5bc0de;}
label.col-sm-2.control-label .help small{line-height: 18px;position:relative;background:#5bc0de;color:#fff;font-size:12px;display:block;padding:0 5px 0 24px;margin:0 -15px 15px -15px;}
label.col-sm-2.control-label .help small:before{position:absolute;left:7px;top:0px;font-family: FontAwesome;color: #fff;content: "\f05a";}
.pt0{padding-top:0!important;}
.well.well-sm .fa-minus-circle{cursor:pointer;color:#1e91cf;}
.gotoset{cursor:pointer;font-weight:bold;}
.load_system_setting_popup{margin-top:20px;margin-right:15px;float:right;}
.howset{margin-top:20px;margin-right:15px;float:right;}
.stat-left-nav>span{display:block;padding:2px 5px;text-align:left;position:relative;}
.stat-right-nav>div{display:none;}
.stat-left-nav>span.active{background:#75a74d;color:#fff;}
.stat-left-nav>span.active:after{content: '';width: 8px;height: 8px;right: -4px;background: red;display: block;position: absolute;top: 6px;transform: rotate(45deg);background:#75a74d;}
.stat-right-nav>div:first-child{display:block;}
.stat-left-nav{border-right:2px solid #75a74d;}
.load_prices_load{opacity:.5;}
td.status_in_list small{margin-left:17px;display:block;}
#export_setting .modal-dialog.export_full{width:98%;}
.export_full_btn, .export_full_btn2{position: absolute;top: -3px;right: 0;font-size:8px;}
.export_full_btn i, .export_full_btn2 i{font-size:11px;}
.export_full_btn.export_full{display:none;}
.export_full_btn.export_full+.export_full_btn2{display:block!important;}
#export-block-3-7 textarea.form-control {display: block;width: 100%;box-sizing: border-box;resize: none;min-height: 3em;}
#import_clear_data{padding-top:1px;padding-bottom:1px;}
#import_clear_data small{display:block;font-size:10px;}
#price_setting_item_set_load .dropdown-menu {left: auto;right: 0;}
